@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#container {
  position: relative;
}
#container .login-container, #container .function-container, #container .help-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../images/bg-1.jpg) no-repeat left top;
  background-size: 100% 100%;
}
#container .login-container .container-mask, #container .function-container .container-mask, #container .help-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .function-container {
  background-image: url(../images/bg-2.jpg);
}
#container .function-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#container .help-container {
  background-image: url(../images/bg-6.jpg);
}
#container .help-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .switch-operation {
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -150px;
  z-index: 10;
  font-size: 0;
  letter-spacing: -3px;
}
#container .switch-operation .btn {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #F7F6F6;
  border-right: none;
}
#container .switch-operation .btn:last-child {
  border-right: 1px solid #F7F6F6;
}
#container .switch-operation .btn.active {
  background-color: #22DED8;
}

/* 传送区 */
.login-content {
  position: absolute;
  left: 0px;
  right: 0;
  top: 50%;
  margin-top: -60px;
  text-align: center;
}
.login-content .simple-title {
  color: #63E4D6;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0 0 1px #63E4D6, 0 0 2px #63E4D6, 0 0 3px #63E4D6;
  letter-spacing: 0.5em;
}
.login-content .simple-title .inverse {
  transform: rotate(15deg);
}
.login-content .simple-summary {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 25px;
  letter-spacing: 0.3em;
  color: #60EAD5;
}
.login-content .login-operations .btn {
  padding: 6px 30px;
  background-color: rgba(72, 231, 223, 0.6);
  color: #FFF;
  border-radius: 10px;
  margin-right: 30px;
}
.login-content .login-operations .btn:hover {
  background-color: #1CE3DD;
}

/* 功能区 */
.function-list {
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  right: 20%;
  text-align: center;
}
.function-list .list-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.function-list .list-item .item-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 20px;
  background-color: rgba(125, 117, 106, 0.6);
  color: #EADCB1;
  margin: 20px;
  cursor: default;
}
.function-list .list-item:nth-child(even) .item-content {
  border-radius: 50% 0 50% 50%;
}
.function-list .list-item:nth-child(odd) .item-content {
  border-radius: 50% 50% 50% 0;
}

/* tooltip */
.tooltip {
  border: 1px solid #F7C41F;
  max-width: 250px;
  position: absolute;
  border-radius: 5px;
  color: #FFFFFF;
  line-height: 1.2;
  letter-spacing: 0.1em;
  background-color: #F7C41F;
  display: none;
}
.tooltip .tooltip-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 15px 20px;
}
.tooltip .left-triangle, .tooltip .right-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -10px;
}
.tooltip .left-triangle {
  left: 0;
  border-width: 10px 14px 10px 0;
  border-color: transparent #F7C41F transparent transparent;
  border-style: solid solid solid none;
  margin-left: -13px;
}
.tooltip .right-triangle {
  right: 0;
  border-width: 10px 0 10px 14px;
  border-color: transparent transparent transparent #F7C41F;
  border-style: solid none solid solid;
  margin-right: -13px;
}

/* 信息区 */
.help-content {
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  margin-top: -100px;
  text-align: center;
  right: 20%;
  text-align: center;
  line-height: 1.5;
  color: #E8D944;
  letter-spacing: 0.1em;
  font-size: 20px;
}
.help-content .help-title {
  font-size: 36px;
  color: #30D4E9;
  letter-spacing: 0.1em;
}
.help-content .btn {
  color: #1DEDC1;
}
.help-content .btn:hover {
  color: #34F6F1;
}

/* 尾部版权 */
.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  z-index: 10;
  text-align: center;
  color: #666;
}
.footer .copyright {
  font-size: 28px;
  vertical-align: middle;
}

/* 登录UI */
.login-form-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(67, 67, 67, 0.7);
}
.login-form-container .login-form-pos {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.6);
  opacity: 0;
  padding: 8px;
  border-radius: 2px;
}
.login-form-container .login-error {
  text-align: center;
  color: #20E7F2;
  display: none;
}
.login-form-container .btn-close {
  font-family: 'icomoon' !important;
  font-size: 18px;
  color: #FFF;
}
.login-form-container .login-title {
  text-align: center;
  font-size: 24px;
  color: #F1EEEE;
  letter-spacing: 0.1em;
  margin: 15px;
}
.login-form-container .login-item {
  margin: 15px 30px;
  font-size: 0;
  letter-spacing: -3px;
}
.login-form-container .login-item .login-label {
  position: absolute;
  font-family: 'icomoon' !important;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #AEABAB;
  padding: 10px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
}
.login-form-container .login-item .login-label:hover {
  background-color: #666;
}
.login-form-container .login-item .item-content {
  font-size: 18px;
  padding: 9px 3px 8px 40px;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
}
.login-form-container .login-item .item-content#login-checkImg {
  padding-left: 5px;
}
.login-form-container .login-item .item-content:focus {
  box-shadow: 0 0 0 #0ae, 0 0 1px #0ae, 0 0 2px #0ae, 0 0 3px #0ae, 0 0 4px #0ae, 0 0 5px #0ae;
}
.login-form-container .login-item .checkImg-icon {
  font-family: 'icomoon' !important;
  font-size: 18px;
  position: absolute;
  right: 130px;
  line-height: 38px;
  vertical-align: middle;
  display: none;
}
.login-form-container .login-item .checkImg-error {
  color: #F9998E;
}
.login-form-container .login-item .checkImg-pass {
  color: #87F880;
}
.login-form-container .login-item .checkImg-error-info {
  position: absolute;
  font-size: 16px;
  color: #F9998E;
  margin: 5px 0 0 5px;
  letter-spacing: .1em;
  display: none;
}
.login-form-container .login-item #show-checkImg {
  height: 38px;
  vertical-align: middle;
  width: 85px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 38px;
  border: none;
  cursor: pointer;
}
.login-form-container .login-reset-password {
  text-align: right;
  margin-top: 25px;
}
.login-form-container .login-reset-password .btn {
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #F0EEEE;
}
.login-form-container .login-reset-password .btn:hover {
  text-decoration: underline;
  color: #EAE7E7;
}
.login-form-container .login-form-opeation {
  font-size: 16px;
}
.login-form-container .login-form-opeation .form-submit {
  background-color: #0AE;
  line-height: 40px;
  width: 100%;
  color: #F0EEEE;
  border-radius: 3px;
  cursor: pointer;
}
.login-form-container .login-form-opeation .form-submit:hover {
  background-color: #1C9BCE;
}
.login-form-container .login-form-other {
  text-align: justify;
  font-size: 14px;
  position: relative;
  letter-spacing: 0.08em;
}
.login-form-container .login-form-other .btn-back {
  color: #F0EEEE;
}
.login-form-container .login-form-other .btn-register {
  position: absolute;
  right: 10px;
  color: #0AE;
}
.login-form-container .login-form-other .btn-register:hover {
  text-decoration: underline;
}
