@charset "UTF-8";
body {
  background-color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header {
  position: relative;
  line-height: 100px;
}
#header .common-left {
  position: absolute;
  left: 20%;
}
#header .common-left .left-title {
  color: #76EAE4;
  letter-spacing: 0.1em;
  font-size: 36px;
  text-shadow: 0 0 0 #76EAE4, 0 0 1px #76EAE4, 0 0 2px #76EAE4, 0 0 3px #76EAE4, 0 0 4px #76EAE4;
}
#header .common-middle {
  text-align: center;
}
#header .common-middle .title {
  letter-spacing: 1em;
  color: #666;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #B8B2B2, 2px 2px 3px #B3ABAB, 3px 3px 3px #F6EFEF;
}
#header .common-middle .title .appearence1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  transform: rotate(-30deg);
}
#header .common-middle .title .appearence2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  transform: rotate(30deg);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* 清除IE下的叉叉 */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

#main {
  width: 110%;
  margin-top: 15px;
  box-shadow: 0 1px 0 #ccc inset, 0 2px 2px #ccc inset, 0 3px 3px #ccc inset, 0 4px 4px #ccc inset, 0 5px 4px #ccc inset;
  padding-top: 50px;
}
#main .register-form {
  width: 500px;
  padding: 20px;
  margin: 10px auto;
}
#main .register-item {
  margin: 25px auto;
  border-radius: 3px;
  position: relative;
}
#main .register-item .register-label {
  position: absolute;
  font-size: 18px;
  font-family: "icomoon" !important;
  background-color: #8d7;
  color: #EFEAEA;
  width: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  text-align: center;
}
#main .register-item .register-label:hover {
  background-color: #67F68A;
  color: #FFF;
}
#main .register-item .register-content-text {
  width: 100%;
  font-size: 18px;
  padding: 0 5px 0 45px;
  background-color: rgba(255, 255, 255, 0);
  line-height: 40px;
  border-radius: 3px;
}
#main .register-item .register-content-text#register-checkImg {
  padding: 0 5px;
}
#main .register-logo-item {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
#main .register-logo-item .register-label {
  color: #999;
  font-size: 16px;
}
#main .register-logo-item .item-img-content {
  margin-top: 5px;
  width: 160px;
  height: 140px;
  border: 1px dashed #dedede;
  position: relative;
  text-align: center;
}
#main .register-logo-item .item-img-content .item-upimg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
}
#main .register-logo-item .item-img-content .item-upimg-logo {
  font-family: "icomoon" !important;
  font-size: 40px;
  color: #eee;
  line-height: 140px;
}
#main .register-logo-item .item-img-content .item-upimg-name {
  position: absolute;
  text-align: center;
  width: 160px;
  left: 0;
  top: 50%;
  margin-top: -8px;
  color: #666;
  overflow: hidden;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main .register-logo-item .item-img-show {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  border-radius: 50%;
  border: 3px solid #CBC8C8;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
}
#main .register-logo-item .item-img-show .item-show-title {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -8px;
}
#main .register-logo-item .item-img-show .item-img-result {
  border-radius: 50%;
  width: 134px;
  height: 134px;
  display: none;
}
#main .register-item-select {
  margin-top: 25px;
  line-height: 26px;
  padding: 10px;
  border-radius: 5px;
}
#main .register-item-select .register-label-select {
  vertical-align: .5em;
  margin-right: 25px;
}
#main .checkImg-icon {
  font-family: 'icomoon' !important;
  font-size: 18px;
  position: absolute;
  right: 90px;
  top: 0;
  line-height: 38px;
  vertical-align: middle;
  display: none;
}
#main .checkImg-error-info {
  position: absolute;
  font-size: 16px;
  color: #F9998E;
  margin: 5px 0 0 5px;
  letter-spacing: .1em;
  display: none;
}
#main #show-checkImg {
  height: 40px;
  width: 85px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
}
#main .border-item {
  box-shadow: 0 0 0 #F0EEEE, 0 0 1px #F0EEEE, 0 0 2px #F0EEEE, 0 0 3px #F0EEEE, 0 0 4px #F0EEEE, 0 0 5px #F0EEEE;
}
#main .border-active-item {
  box-shadow: 0 0 0 #0ae, 0 0 1px #0ae, 0 0 2px #0ae, 0 0 3px #0ae, 0 0 4px #0ae, 0 0 5px #0ae;
}
#main .register-content-index {
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
}
#main .register-content-index .btn {
  color: #80EAC9;
  font-size: 16px;
}
#main .register-content-index .btn:hover {
  color: #2EDCDE;
}
#main .register-content-opera {
  text-align: center;
  border: none;
  margin-top: 20px;
}
#main .register-content-opera .form-opera {
  background-color: #0AE;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  color: #EBEDED;
  cursor: pointer;
}
#main .register-content-opera .form-opera:hover {
  background-color: #1C9BCE;
  color: #FFFFFF;
}

#register-form i.valid-error, #register-form i.valid-pass {
  font-size: 1.2rem;
  padding-left: 1rem;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  vertical-align: -0.5em;
}
#register-form .valid-error {
  color: #BF6F6F;
}
#register-form .valid-pass {
  color: #41B15C;
}
#register-form .valid-error + i {
  letter-spacing: .008em;
  position: absolute;
  width: 182px;
  background-color: #F4BD1B;
  color: #BF6F6F;
  padding: 10px;
  border: 1px solid #DEA11A;
  border-radius: 5px;
  z-index: 1000;
  margin-left: 14px;
  margin-top: -5px;
}
#register-form .valid-error + i#register-picture-error {
  margin-left: 403px;
}
#register-form .valid-error + i:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 11px;
  left: 0;
  border-width: 10px 14px 10px 0;
  border-color: transparent #F4BD1B transparent transparent;
  border-style: solid solid solid none;
  margin-left: -13px;
}
#register-form .valid-pass + i {
  color: #41B15C;
  position: absolute;
  display: inline-block !important;
  right: 0;
  top: 10px;
}
#register-form .valid-pass + #register-picture-error {
  display: none !important;
}
#register-form .valid-pass + i:before {
  content: '\e900';
  padding-right: 1rem;
}
