@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  height: auto;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

/* 头部 */
#header {
  line-height: 70px;
  text-align: left;
}
#header .middle-title {
  font-size: 32px;
  color: #000;
  font-weight: 800;
  padding-left: 76px;
}
#header .common-right {
  position: absolute;
  right: 80px;
  top: 30px;
  line-height: normal;
  height: 36px;
  z-index: 999;
}
#header .common-right .btn-manage {
  color: #787575;
  background-color: #F6F4F4;
  transition: all 0.3s linear;
  padding: 10px 25px;
  border-radius: 3px;
  font-weight: 600;
}
#header .common-right .btn-manage.hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
}
#header .feature-list {
  position: absolute;
  top: 35px;
  right: 1px;
  line-height: normal;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 0 #EDEBEB, 0 0 1px #EDEBEB, 0 0 2px #EDEBEB, 0 0 3px #EDEBEB, 0 0 4px #EDEBEB, 0 0 5px #EDEBEB, 0 0 6px #EDEBEB;
  width: 105px;
  z-index: 100;
  background-color: #fff;
  display: none;
}
#header .feature-list li:first-of-type {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
#header .feature-list .feature-item:last-child {
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
#header .feature-list .btn-feature {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 40px;
  background-color: #fff;
  color: #666;
}
#header .feature-list .btn-feature:hover {
  background-color: #eee;
}
#header .feature-list .top-triangle {
  width: 0;
  height: 0;
  position: absolute;
  right: 40px;
  border-style: none solid solid solid;
  border-color: transparent transparent #EDEBEB transparent;
  border-width: 0 10px 8px 10px;
  top: -8px;
}

/* 主体布局 */
#main {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex: 1;
      flex: 1;
  -webkit-flex: 1;
}
#main .sideNav {
  width: 250px;
  padding: 10px;
  background-color: #F5F3F3;
  box-shadow: 0 0 0 #F5F3F3, 0 0 1px #F5F3F3, 0 0 2px #F5F3F3, 0 0 3px #F5F3F3, 0 0 4px #F5F3F3, 0 0 5px #F5F3F3, 0 0 6px #F5F3F3, 0 0 7px #F5F3F3, 0 0 8px #F5F3F3;
  border-radius: 2px;
}
#main .show-content {
  background-color: #FFF;
  -ms-flex: 1;
      flex: 1;
  -webkit-flex: 1;
  box-shadow: 0 0 0 #EDECEC, 0 0 1px #EDECEC, 0 0 2px #EDECEC, 0 0 3px #EDECEC, 0 0 4px #EDECEC, 0 0 5px #EDECEC;
  padding: 1px 1px 39px 1px;
}

/* 侧边栏修饰 */
.sideNav .add-item-operations {
  margin: 25px 0;
  padding: 1px;
  text-align: left;
}
.sideNav .add-item-operations .btn {
  padding: 7px;
  border-radius: 3px;
  font-weight: 600;
}
.sideNav .add-item-operations .btn .add-project-icon {
  font-family: "icomoon" !important;
  font-size: 14px;
  color: #999;
  margin-left: 10px;
  vertical-align: top;
}
.sideNav .add-item-operations .btn.btn-add-page {
  background-color: #40CAD1;
  color: #666;
}
.sideNav .add-item-operations .btn.btn-add-page:hover {
  background-color: #33B9C0;
  color: #444;
}
.sideNav .add-item-operations .btn.btn-add-dir {
  background-color: #71C7F2;
  color: #666;
}
.sideNav .add-item-operations .btn.btn-add-dir:hover {
  background-color: #41AADF;
  color: #444;
}
.sideNav #project-nav {
  margin-top: 20px;
  padding-top: 1px;
}
.sideNav #project-nav .project-list {
  text-align: left;
}
.sideNav #project-nav .project-list .dir-item {
  margin: 10px 0;
  position: relative;
}
.sideNav #project-nav .project-list .dir-item .btn-dir {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 30px;
  padding-left: 25px;
  /* background-color: #85F4BB; */
  position: relative;
  color: #333;
  border-radius: 1px;
  /* box-shadow: 0 0 0 #85F4BB,
  		0 0 1px #85F4BB,
  		0 0 2px #85F4BB,
  		0 0 3px #85F4BB,
  		0 0 4px #85F4BB; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sideNav #project-nav .project-list .dir-item .btn-dir .triangle {
  position: absolute;
  width: 0;
  height: 0;
}
.sideNav #project-nav .project-list .dir-item .btn-dir .triangle.left {
  top: 7px;
  left: 8px;
  border-style: solid none solid solid;
  border-color: transparent transparent transparent #666;
  border-width: 7px 0 7px 10px;
}
.sideNav #project-nav .project-list .dir-item .btn-dir .triangle.top {
  left: 6px;
  top: 9px;
  border-style: solid solid none solid;
  border-color: #666 transparent transparent transparent;
  border-width: 10px 7px 0 7px;
}
.sideNav #project-nav .project-list .dir-item .btn-dir:hover {
  /* background-color: #78E196; */
  color: #666;
}
.sideNav #project-nav .project-list .page-item {
  margin: 0 0 0 8px;
  position: relative;
}
.sideNav #project-nav .project-list .page-item .btn-page {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 35px;
  padding: 0 10px;
  /* border-bottom: 1px solid #ddd;
  text-align: center; */
  color: #666;
  transition: all 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sideNav #project-nav .project-list .page-item .btn-page.active {
  color: #FF8A4B;
}
.sideNav #project-nav .project-list .page-item .btn-page.hover {
  color: #FF8A4B;
}
.sideNav #project-nav .project-list .project-list {
  margin: 10px 0 0 10px;
}
.sideNav #project-nav .project-list .btn {
  position: relative;
}
.sideNav #project-nav .project-list .dir-item.hover:hover:before, .sideNav #project-nav .project-list .hover.page-item:hover:before {
  content: attr(data-tooltip);
  background: #44D8F2;
  color: #fff;
  padding: .8em 1em;
  position: absolute;
  left: 100%;
  margin-top: -11px;
  white-space: pre;
  border-radius: 3px;
  margin-left: 14px;
}
.sideNav #project-nav .project-list .dir-item.hover:hover:after, .sideNav #project-nav .project-list .hover.page-item:hover:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 1px;
  width: 0;
  height: 0;
  border-right: 8px solid #44D8F2;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 7px;
}

/* 展示markdown内容的主体块 */
.show-content {
  /* 操作区 */
  display: none;
  /* 标题区 */
  /* editor.md 初始区*/
  /* markdown内容展示区 */
}
.show-content .content-operations {
  text-align: right;
  margin: 30px 60px 20px 0;
}
.show-content .content-operations .btn {
  padding: 2px;
  color: #08c;
  margin-left: 3px;
}
.show-content .content-operations .btn:hover {
  color: #5ABCED;
  text-decoration: underline;
}
.show-content .content-title {
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 60px 0  15px 0;
}
.show-content .content-title .title {
  font-size: 28px;
  color: #000;
  font-weight: 800;
}
.show-content .test-editormd {
  width: 0;
  height: 0;
  overflow: hidden;
}
.show-content .markdown-content {
  padding: 10px;
  color: #666;
}

.markdown-body table tr {
  border-top: 0;
}
.markdown-body table th {
  border: none;
}
.markdown-body table td {
  border: none;
}
.markdown-body thead th {
  background-color: #7BDFF7;
}
.markdown-body thead th:first-child {
  border-radius: 5px 0 0 0;
}
.markdown-body thead th:last-child {
  border-radius: 0 5px 0 0;
}
.markdown-body tbody tr:nth-child(odd) {
  background-color: #FFF;
}
.markdown-body tbody tr:nth-child(even) {
  background-color: #F6F3F3;
}
.markdown-body tbody tr:hover {
  background-color: #F0EDED;
}
.markdown-body tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.markdown-body tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.markdown-body code {
  color: #FA8C4E;
}
.markdown-body pre.prettyprinted {
  box-shadow: 0 0 0 #ddd, 0 0 1px #ddd, 0 0 2px #ddd, 0 0 3px #ddd, 0 0 4px #ddd, 0 0 5px #ddd;
}

#mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.create-dir-container, .edit-dir-container {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 0 #F7F6F6, 0 0 1px #F7F6F6, 0 0 2px #F7F6F6, 0 0 3px #F7F6F6, 0 0 4px #F7F6F6, 0 0 5px #F7F6F6, 0 0 6px #F7F6F6, 0 0 7px #F7F6F6, 0 0 8px #F7F6F6;
  opacity: 0;
}
.create-dir-container .title, .edit-dir-container .title {
  font-size: 24px;
  line-height: 1.5;
  border-bottom: 1px solid #ddd;
  background-color: #F7F6F6;
  padding: 10px 20px;
  color: #333;
  font-weight: 600;
}
.create-dir-container .title .info, .edit-dir-container .title .info {
  color: #999;
  font-size: 16px;
  margin-left: 3px;
}
.create-dir-container .create-dir-form, .edit-dir-container .create-dir-form, .edit-dir-container .edit-dir-form {
  padding: 20px;
}
.create-dir-container .create-dir-form .form-item, .edit-dir-container .create-dir-form .form-item, .edit-dir-container .edit-dir-form .form-item {
  margin: 20px 0;
}
.create-dir-container .create-dir-form .form-item .item-label, .edit-dir-container .create-dir-form .form-item .item-label, .edit-dir-container .edit-dir-form .form-item .item-label {
  color: #999;
}
.create-dir-container .create-dir-form .form-item .item-label .space, .edit-dir-container .create-dir-form .form-item .item-label .space, .edit-dir-container .edit-dir-form .form-item .item-label .space {
  margin: 0 8px;
}
.create-dir-container .create-dir-form .form-item .item-label .space-more, .edit-dir-container .create-dir-form .form-item .item-label .space-more, .edit-dir-container .edit-dir-form .form-item .item-label .space-more {
  margin-left: 32px;
}
.create-dir-container .create-dir-form .form-item .item-value, .edit-dir-container .create-dir-form .form-item .item-value, .edit-dir-container .edit-dir-form .form-item .item-value {
  width: 80%;
  padding: 5px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.create-dir-container .create-dir-form .form-operation, .edit-dir-container .create-dir-form .form-operation, .edit-dir-container .edit-dir-form .form-operation {
  text-align: center;
}
.create-dir-container .create-dir-form .form-operation .form-submit, .edit-dir-container .create-dir-form .form-operation .form-submit, .edit-dir-container .edit-dir-form .form-operation .form-submit {
  width: 90%;
  background-color: #68BCDF;
  color: #ffd;
  line-height: 40px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.create-dir-container .create-dir-form .form-operation .form-submit:hover, .edit-dir-container .create-dir-form .form-operation .form-submit:hover, .edit-dir-container .edit-dir-form .form-operation .form-submit:hover {
  background-color: #44AEDA;
  color: #fff;
}
.create-dir-container .dir-list, .edit-dir-container .dir-list {
  margin: 10px 25px;
}
.create-dir-container .dir-list .dir-item, .edit-dir-container .dir-list .dir-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.create-dir-container .dir-list .dir-item .btn, .edit-dir-container .dir-list .dir-item .btn {
  background-color: #68BCDF;
  color: #ffd;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 14px;
  padding: 8px 10px;
  margin: 6px 8px;
  text-align: center;
}
.create-dir-container .dir-list .dir-item .btn:hover, .edit-dir-container .dir-list .dir-item .btn:hover {
  background-color: #44AEDA;
  color: #fff;
}

.edit-dir-container .form-operation .btn-update {
  background-color: #68BCDF;
  color: #ffd;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 14px;
  padding: 8px 40px;
  margin: 6px 8px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.edit-dir-container .form-operation .btn-update:hover {
  background-color: #44AEDA;
  color: #fff;
}
.edit-dir-container .form-operation .btn-delete {
  color: #68BCDF;
}
.edit-dir-container .form-operation .btn-delete:hover {
  text-decoration: underline;
  color: #1F9CD0;
}

.remove-page-container {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  min-height: 150px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 0 #EFEEEE, 0 0 1px #EFEEEE, 0 0 2px #EFEEEE, 0 0 3px #EFEEEE, 0 0 4px #EFEEEE, 0 0 5px #EFEEEE, 0 0 6px #EFEEEE, 0 0 7px #EFEEEE;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
.remove-page-container .info {
  color: #fff;
  font-size: 20px;
  margin: 0 0 30px 0;
}
.remove-page-container .btn {
  padding: 10px 35px;
  background-color: #44D8F2;
  color: #fafafa;
  border-radius: 25px;
  font-size: 16px;
  margin: 5px;
}
.remove-page-container .btn:hover {
  background-color: #14BAD7;
  color: #fff;
}

.page-share-container {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  min-height: 150px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 0 #EFEEEE, 0 0 1px #EFEEEE, 0 0 2px #EFEEEE, 0 0 3px #EFEEEE, 0 0 4px #EFEEEE, 0 0 5px #EFEEEE, 0 0 6px #EFEEEE, 0 0 7px #EFEEEE;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
.page-share-container .title {
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #CBC7C7;
  padding: 20px 20px 5px 20px;
  margin: 10px 0;
}
.page-share-container .link-address {
  color: #FED;
  font-size: 16px;
  margin: 20px 10px;
}
.page-share-container .link-address .link {
  border-radius: 3px;
  padding: 5px;
  color: #FFF;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.page-share-container .info {
  color: #FFF;
  margin: 10px;
}
.page-share-container .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 85%;
  margin: 10px 30px;
  padding: 10px;
  text-align: center;
  border-radius: 19px;
  font-size: 16px;
  background-color: #44D8F2;
  color: #fafafa;
}
.page-share-container .btn:hover {
  background-color: #14BAD7;
  color: #fff;
}

.member-manage-container {
  position: absolute;
  width: 560px;
  left: 50%;
  margin-left: -280px;
  min-height: 150px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 0 #EFEEEE, 0 0 1px #EFEEEE, 0 0 2px #EFEEEE, 0 0 3px #EFEEEE, 0 0 4px #EFEEEE, 0 0 5px #EFEEEE, 0 0 6px #EFEEEE, 0 0 7px #EFEEEE;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10000;
  font-size: 16px;
  text-align: center;
}
.member-manage-container .title {
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #CBC7C7;
  padding: 20px 20px 10px 20px;
  text-align: left;
}
.member-manage-container .title .info {
  color: #F6D7AE;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-left: 5px;
}
.member-manage-container .create-member-form .btn-submit, .member-manage-container .btn-back {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 75%;
  padding: 10px;
  border-radius: 20px;
  background-color: #44D8F2;
  color: #fafafa;
  margin: 20px;
}
.member-manage-container .create-member-form .btn-submit:hover, .member-manage-container .btn-back:hover {
  background-color: #14BAD7;
  color: #fff;
}
.member-manage-container .create-member-form {
  padding: 15px 0 0 30px;
}
.member-manage-container .create-member-form .item-label {
  color: #F6D7AE;
  font-size: 18px;
}
.member-manage-container .create-member-form .item-value {
  color: #F9C785;
  width: 70%;
  border: 1px solid #CBC7C7;
  padding: 10px 5px;
  border-radius: 10px;
}
.member-manage-container .create-member-form .item-value:focus {
  border-color: #44D8F2;
}
.member-manage-container .member-list {
  padding: 5px 25px;
  text-align: left;
}
.member-manage-container .member-list .member-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 10px 5px;
}
.member-manage-container .member-list .member-item .btn-member {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #44D8F2;
  color: #fafafa;
}
.member-manage-container .member-list .member-item .btn-member:hover {
  background-color: #14BAD7;
  color: #fff;
}
