@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#container {
  position: relative;
}
#container .login-container, #container .function-container, #container .help-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../images/bg-1.jpg) no-repeat left top;
  background-size: 100% 100%;
}
#container .login-container .container-mask, #container .function-container .container-mask, #container .help-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .function-container {
  background-image: url(../images/bg-2.jpg);
}
#container .function-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#container .help-container {
  background-image: url(../images/bg-6.jpg);
}
#container .help-container .container-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#container .switch-operation {
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -150px;
  z-index: 10;
  font-size: 0;
  letter-spacing: -3px;
}
#container .switch-operation .btn {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #F7F6F6;
  border-right: none;
}
#container .switch-operation .btn:last-child {
  border-right: 1px solid #F7F6F6;
}
#container .switch-operation .btn.active {
  background-color: #22DED8;
}

/* 传送区 */
.login-content {
  position: absolute;
  left: 0px;
  right: 0;
  top: 50%;
  margin-top: -60px;
  text-align: center;
}
.login-content .simple-title {
  color: #63E4D6;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0 0 1px #63E4D6, 0 0 2px #63E4D6, 0 0 3px #63E4D6;
  letter-spacing: 0.5em;
}
.login-content .simple-title .inverse {
  transform: rotate(15deg);
}
.login-content .simple-summary {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 25px;
  letter-spacing: 0.3em;
  color: #60EAD5;
}
.login-content .login-operations .btn {
  padding: 6px 30px;
  background-color: rgba(72, 231, 223, 0.6);
  color: #FFF;
  border-radius: 10px;
  margin-right: 30px;
}
.login-content .login-operations .btn:hover {
  background-color: #1CE3DD;
}

/* 功能区 */
.function-list {
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  right: 20%;
  text-align: center;
}
.function-list .list-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.function-list .list-item .item-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 20px;
  background-color: rgba(125, 117, 106, 0.6);
  color: #EADCB1;
  margin: 20px;
  cursor: default;
}
.function-list .list-item:nth-child(even) .item-content {
  border-radius: 50% 0 50% 50%;
}
.function-list .list-item:nth-child(odd) .item-content {
  border-radius: 50% 50% 50% 0;
}

/* tooltip */
.tooltip {
  border: 1px solid #F7C41F;
  max-width: 250px;
  position: absolute;
  border-radius: 5px;
  color: #FFFFFF;
  line-height: 1.2;
  letter-spacing: 0.1em;
  background-color: #F7C41F;
  display: none;
}
.tooltip .tooltip-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 15px 20px;
}
.tooltip .left-triangle, .tooltip .right-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -10px;
}
.tooltip .left-triangle {
  left: 0;
  border-width: 10px 14px 10px 0;
  border-color: transparent #F7C41F transparent transparent;
  border-style: solid solid solid none;
  margin-left: -13px;
}
.tooltip .right-triangle {
  right: 0;
  border-width: 10px 0 10px 14px;
  border-color: transparent transparent transparent #F7C41F;
  border-style: solid none solid solid;
  margin-right: -13px;
}

/* 信息区 */
.help-content {
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  margin-top: -100px;
  text-align: center;
  right: 20%;
  text-align: center;
  line-height: 1.5;
  color: #E8D944;
  letter-spacing: 0.1em;
  font-size: 20px;
}
.help-content .help-title {
  font-size: 36px;
  color: #30D4E9;
  letter-spacing: 0.1em;
}
.help-content .btn {
  color: #1DEDC1;
}
.help-content .btn:hover {
  color: #34F6F1;
}

/* 尾部版权 */
.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  z-index: 10;
  text-align: center;
  color: #666;
}
.footer .copyright {
  font-size: 28px;
  vertical-align: middle;
}

/* 登录UI */
.login-form-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(67, 67, 67, 0.7);
}
.login-form-container .login-form-pos {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.6);
  opacity: 0;
  padding: 8px;
  border-radius: 2px;
}
.login-form-container .btn-close {
  font-family: 'icomoon' !important;
  font-size: 18px;
  color: #FFF;
}
.login-form-container .login-title {
  text-align: center;
  font-size: 24px;
  color: #F1EEEE;
  letter-spacing: 0.1em;
  margin: 15px;
}
.login-form-container .login-item {
  margin: 15px 30px;
  font-size: 0;
  letter-spacing: -3px;
}
.login-form-container .login-item .login-label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: 'icomoon' !important;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #AEABAB;
  padding: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.login-form-container .login-item .login-label:hover {
  background-color: #666;
}
.login-form-container .login-item .item-content {
  font-size: 18px;
  padding: 9px 3px 8px 3px;
  vertical-align: middle;
}
.login-form-container .login-reset-password {
  text-align: right;
  margin-top: 25px;
}
.login-form-container .login-reset-password .btn {
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #F0EEEE;
}
.login-form-container .login-reset-password .btn:hover {
  text-decoration: underline;
  color: #EAE7E7;
}
.login-form-container .login-form-opeation {
  font-size: 16px;
}
.login-form-container .login-form-opeation .form-submit {
  background-color: #0AE;
  line-height: 40px;
  width: 100%;
  color: #F0EEEE;
  border-radius: 3px;
  cursor: pointer;
}
.login-form-container .login-form-opeation .form-submit:hover {
  background-color: #1C9BCE;
}
.login-form-container .login-form-other {
  text-align: justify;
  font-size: 14px;
  position: relative;
  letter-spacing: 0.08em;
}
.login-form-container .login-form-other .btn-back {
  color: #F0EEEE;
}
.login-form-container .login-form-other .btn-register {
  position: absolute;
  right: 10px;
  color: #0AE;
}
.login-form-container .login-form-other .btn-register:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header {
  position: relative;
  line-height: 100px;
}
#header .common-left {
  position: absolute;
  left: 20%;
}
#header .common-left .left-title {
  color: #76EAE4;
  letter-spacing: 0.1em;
  font-size: 36px;
  text-shadow: 0 0 0 #76EAE4, 0 0 1px #76EAE4, 0 0 2px #76EAE4, 0 0 3px #76EAE4, 0 0 4px #76EAE4;
}
#header .common-middle {
  text-align: center;
}
#header .common-middle .title {
  letter-spacing: 1em;
  color: #666;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #B8B2B2, 2px 2px 3px #B3ABAB, 3px 3px 3px #F6EFEF;
}
#header .common-middle .title .appearence1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  transform: rotate(-30deg);
}
#header .common-middle .title .appearence2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  transform: rotate(30deg);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* 清除IE下的叉叉 */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

#main {
  width: 110%;
  margin-top: 15px;
  box-shadow: 0 1px 0 #ccc inset, 0 2px 2px #ccc inset, 0 3px 3px #ccc inset, 0 4px 4px #ccc inset, 0 5px 4px #ccc inset;
  padding-top: 50px;
}
#main .register-form {
  width: 600px;
  margin: 20px auto;
  padding: 1px 20px 20px 20px;
  box-shadow: 0 0 0 #E6E5E5, 0 0 1px #E6E5E5, 0 0 2px #E6E5E5, 0 0 3px #E6E5E5, 0 0 4px #E6E5E5, 0 0 5px #E6E5E5, 0 0 6px #E6E5E5, 0 0 7px #E6E5E5, 0 0 8px #E6E5E5, 0 0 9px #E6E5E5, 0 0 10px #E6E5E5, 0 0 11px #E6E5E5, 0 0 12px #E6E5E5;
  border-radius: 8px;
}
#main .register-item {
  margin: 25px auto;
  font-size: 0;
  letter-spacing: -3px;
  box-shadow: 0 0 0 #888, 0 0 1px #888, 0 0 2px #888, 0 0 3px #888, 0 0 4px #888, 0 0 5px #888;
  padding: 5px;
  border-radius: 5px;
}
#main .register-item .register-label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 24px;
  font-family: "icomoon" !important;
  background-color: #888;
  color: #EFEAEA;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  left: 0;
  border-radius: 3px;
}
#main .register-item .register-label:hover {
  background-color: #333;
  color: #FFF;
}
#main .register-item .register-content-text {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0);
  line-height: 40px;
  width: 300px;
  vertical-align: middle;
}
#main .register-logo-item {
  box-shadow: 0 0 0 #888, 0 0 1px #888, 0 0 2px #888, 0 0 3px #888, 0 0 4px #888, 0 0 5px #888;
  padding: 10px;
  border-radius: 5px;
}
#main .register-logo-item .register-label {
  color: #999;
  font-size: 16px;
}
#main .register-logo-item .item-img-content {
  margin-top: 5px;
  width: 160px;
  height: 140px;
  border: 1px dashed #dedede;
  position: relative;
  text-align: center;
}
#main .register-logo-item .item-img-content .item-upimg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
}
#main .register-logo-item .item-img-content .item-upimg-logo {
  font-family: "icomoon" !important;
  font-size: 40px;
  color: #eee;
  line-height: 140px;
}
#main .register-item-select {
  margin-top: 25px;
  line-height: 26px;
  box-shadow: 0 0 0 #888, 0 0 1px #888, 0 0 2px #888, 0 0 3px #888, 0 0 4px #888, 0 0 5px #888;
  padding: 10px;
  border-radius: 5px;
}
#main .register-item-select .register-label-select {
  vertical-align: .5em;
  margin-right: 25px;
}
#main .register-content-index {
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
}
#main .register-content-index .btn {
  color: #80EAC9;
  font-size: 16px;
}
#main .register-content-index .btn:hover {
  color: #2EDCDE;
}
#main .register-content-opera {
  text-align: center;
  border: none;
  margin-top: 20px;
}
#main .register-content-opera .form-opera {
  background-color: #0AE;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  color: #EBEDED;
  cursor: pointer;
}
#main .register-content-opera .form-opera:hover {
  background-color: #1C9BCE;
  color: #FFFFFF;
}

#register-form .loginError, #register-form .loginPass {
  font-size: 1.2rem;
  padding-left: 1rem;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
}
#register-form .loginError {
  color: #BF6F6F;
}
#register-form .loginError:before {
  content: '\e901';
  padding-right: 1rem;
}
#register-form .loginPass + i {
  color: #41B15C;
  display: inline-block !important;
}
#register-form .loginPass + i:before {
  content: '\e900';
  padding-right: 1rem;
}

.SumoSelect p {
  margin: 0;
}

.SumoSelect {
  min-width: 200px;
}

.SelectBox {
  padding: 5px 8px;
}

.sumoStopScroll {
  overflow: hidden;
}

/* Filtering style */
.SumoSelect .hidden {
  display: none;
}

.SumoSelect .search-txt {
  display: none;
  outline: none;
}

.SumoSelect .no-match {
  display: none;
  padding: 6px;
}

.SumoSelect.open .search-txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px 8px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

.SumoSelect.open > .search > span, .SumoSelect.open > .search > label {
  visibility: hidden;
}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass, .SumoUnder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.SelectClass {
  z-index: 1;
}

.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.SumoSelect {
  display: inline-block;
  position: relative;
  outline: none;
}

.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {
  box-shadow: 0 0 2px #7799D0;
  border-color: #7799D0;
}

.SumoSelect > .CaptionCont {
  position: relative;
  border: 1px solid #A4A4A4;
  min-height: 14px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0;
}

.SumoSelect > .CaptionCont > span {
  display: block;
  padding-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

/*placeholder style*/
.SumoSelect > .CaptionCont > span.placeholder {
  color: #ccc;
  font-style: italic;
}

.SumoSelect > .CaptionCont > label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
}

.SumoSelect > .CaptionCont > label > i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=");
  background-position: center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.SumoSelect > .optWrapper {
  display: none;
  z-index: 1000;
  top: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  overflow: hidden;
}

.SumoSelect.open > .optWrapper {
  top: 35px;
  display: block;
}

.SumoSelect.open > .optWrapper.up {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}

.SumoSelect > .optWrapper ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.SumoSelect > .optWrapper > .options {
  border-radius: 2px;
  position: relative;
  /*Set the height of pop up here (only for desktop mode)*/
  max-height: 250px;
  /*height*/
}

.SumoSelect > .optWrapper > .options li.group.disabled > label {
  opacity: 0.5;
}

.SumoSelect > .optWrapper > .options li ul li.opt {
  padding-left: 22px;
}

.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
  padding-left: 50px;
}

.SumoSelect > .optWrapper.isFloating > .options {
  max-height: 100%;
  box-shadow: 0 0 100px #595959;
}

.SumoSelect > .optWrapper > .options li.opt {
  padding: 6px 6px;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
}

.SumoSelect > .optWrapper > .options > li.opt:first-child {
  border-radius: 2px 2px 0 0;
}

.SumoSelect > .optWrapper > .options > li.opt:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: none;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
  background-color: #E4E4E4;
}

.SumoSelect > .optWrapper > .options li.opt.sel {
  background-color: #a1c0e4;
  border-bottom: 1px solid #a1c0e4;
}

.SumoSelect > .optWrapper > .options li label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.SumoSelect > .optWrapper > .options li span {
  display: none;
}

.SumoSelect > .optWrapper > .options li.group > label {
  cursor: default;
  padding: 8px 6px;
  font-weight: bold;
}

/*Floating styles*/
.SumoSelect > .optWrapper.isFloating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  bottom: 0;
  margin: auto;
  max-height: 90%;
}

/*disabled state*/
.SumoSelect > .optWrapper > .options li.opt.disabled {
  background-color: inherit;
  pointer-events: none;
}

.SumoSelect > .optWrapper > .options li.opt.disabled * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}

/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options li.opt {
  padding-left: 35px;
  cursor: pointer;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  bottom: 0;
  margin-left: -35px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #AEAEAE;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.SumoSelect > .optWrapper > .MultiControls {
  display: none;
  border-top: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 3px 3px;
}

.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
  display: block;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
  padding: 6px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p {
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
  background-color: #f1f1f1;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
  border-right: 1px solid #DBDBDB;
  border-radius: 0 0 0 3px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
  border-radius: 0 0 3px 0;
}

/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options li.opt {
  padding: 12px 6px;
}

/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
  padding-left: 35px;
}

.SumoSelect > .optWrapper.multiple.isFloating {
  padding-bottom: 43px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
  background-color: #11a911;
  box-shadow: none;
  border-color: transparent;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center center;
}

/*disabled state*/
.SumoSelect.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.SumoSelect.disabled > .CaptionCont {
  border-color: #ccc;
  box-shadow: none;
}

/**Select all button**/
.SumoSelect .select-all {
  border-radius: 3px 3px 0 0;
  position: relative;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 8px 0 3px 35px;
  height: 20px;
  cursor: pointer;
}

.SumoSelect .select-all > label, .SumoSelect .select-all > span i {
  cursor: pointer;
}

.SumoSelect .select-all.partial > span i {
  background-color: #ccc;
}

/*styling for optgroups*/
.SumoSelect > .optWrapper > .options li.optGroup {
  padding-left: 5px;
  text-decoration: underline;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
}

#header {
  position: relative;
  line-height: 60px;
  background-color: #666;
}
#header .common-left {
  position: absolute;
  left: 35px;
}
#header .common-left .left-title {
  color: #76EAE4;
  letter-spacing: 0.1em;
  font-size: 36px;
  text-shadow: 0 0 0 #76EAE4, 0 0 1px #76EAE4, 0 0 2px #76EAE4, 0 0 3px #76EAE4, 0 0 4px #76EAE4;
}
#header .nav-list {
  text-align: right;
  padding-right: 15%;
}
#header .nav-list .nav-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#header .nav-list .nav-item .nav-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 35px;
  background-color: #F4E163;
  color: #FFFEFE;
  width: 70px;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
}
#header .nav-list .nav-item .nav-btn:hover {
  color: #fff;
  background-color: #FCDD13;
}

.main {
  width: 90%;
  margin: 30px auto;
}
.main .project-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.main .project-item .project-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 200px;
  line-height: 100px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: #666;
  font-weight: 600;
  font-size: 16px;
}
.main .project-item .project-btn .add-project-icon {
  font-family: "icomoon" !important;
  font-weight: 500;
  font-size: 14px;
}
.main .project-item .project-btn:hover {
  background-color: #F4F4F4;
}
