.container {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -130px;
  color: #888;
  width: 600px;
  text-align: right;
  min-height: 200px;
  border: 3px solid #F3F1F1;
  padding: 10px;
  box-shadow: 0 0 0 #F3F1F1, 0 0 1px #F3F1F1, 0 0 2px #F3F1F1, 0 0 3px #F3F1F1, 0 0 4px #F3F1F1, 0 0 5px #F3F1F1, 0 0 6px #F3F1F1;
  border-radius: 9px;
}
.container .success-title {
  text-align: left;
  border-bottom: 1px solid #dedede;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 500;
}
.container .success-info {
  text-align: left;
  line-height: 1.5;
  padding: 10px;
}
.container .success-info .success-time {
  color: #82E3F2;
  margin: 5px;
}
.container .btn-back {
  padding: 6px 10px;
  background-color: #79DABC;
  color: #F3EFEF;
  text-decoration: none;
  border-radius: 3px;
  margin: 15px;
}
.container .btn-back:hover {
  background-color: #3FF6DE;
  color: #FFFFFF;
}
