@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvh4s");
  src: url("../fonts/icomoon.eot?xvh4s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvh4s") format("truetype"), url("../fonts/icomoon.woff?xvh4s") format("woff"), url("../fonts/icomoon.svg?xvh4s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
}

#header {
  position: relative;
  line-height: 60px;
  background-color: #666;
}
#header .common-left {
  position: absolute;
  left: 35px;
}
#header .common-left .left-title {
  color: #76EAE4;
  letter-spacing: 0.1em;
  font-size: 36px;
  text-shadow: 0 0 0 #76EAE4, 0 0 1px #76EAE4, 0 0 2px #76EAE4, 0 0 3px #76EAE4, 0 0 4px #76EAE4;
}
#header .nav-list {
  text-align: right;
  padding-right: 15%;
}
#header .nav-list .nav-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#header .nav-list .nav-item .nav-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 35px;
  background-color: #F4E163;
  color: #FFFEFE;
  width: 70px;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
}
#header .nav-list .nav-item .nav-btn:hover {
  color: #fff;
  background-color: #FCDD13;
}

.main {
  width: 90%;
  margin: 30px auto;
}
.main .project-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.main .project-item .project-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 200px;
  line-height: 100px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: #666;
  font-weight: 600;
  font-size: 16px;
}
.main .project-item .project-btn .add-project-icon {
  font-family: "icomoon" !important;
  font-weight: 500;
  font-size: 14px;
}
.main .project-item .project-btn:hover {
  background-color: #F4F4F4;
}
